.menu{
    list-style:none;
    font-family: cursive;
    float:right;
    top: 10px;
    right:50px;
    cursor:pointer;
    color:crimson;
}

#img{
    width:250px;
    height:250px;
    border-width:3  px;
    border-radius: 150px;
    border-style:solid;
    padding:5px;
    border-color: crimson;
    margin-bottom: 50px;
    margin-left: 151.25px;
    margin-top: 70px;
    margin-right: 150px;
}
.line{
        
    height: 6px;
    background-color:crimson;
    width: 70px;
    margin: 8px auto;
}
body{
    text-align: center;
    margin: 0;
    padding-top: 800px;
    
}
#welcome {
   
    position: absolute;
    height: 800px;
    color: #FFFFFF;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
    
}
.link {
    float: left;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 20px
}
.link:hover {
    background-color: aqua;
}

html {
    scroll-behavior: smooth;
}
#bio{
    
   margin-top:-150px;
    padding: 0px;
    background: linear-gradient( #b439d9 0%, #e386be 100%);  
    z-index: 10;
    color: #97e47f;
}

p {
    max-width: 450px;
    margin: 20px auto;
    font-size: 25px;
    line-height: 1.3;
    font-family:  Roboto;
}
h2{
    font-family: cursive;
}
h1{
    font-size: 35px;
    font-family: 'Press Start 2P', cursive;
}
#reviews{
    margin-top:20px;
    padding: 10px;
    background: linear-gradient( #ba89e2 0%, #aaf07c 100%);  
    z-index: 10;
    color: #97e47f;
}
#Work{
margin-top:20px;
padding: 0px;
background: linear-gradient( #b439d9 0%, #e386be 100%);  
z-index: 10;
color: #97e47f;
}
button{
    background-color: aqua;
    font-size: 25px;
    font-weight: bold;
    border-radius: 80px;
}
.c1{
    width:500px;
    height:500px;
    border-width:3px;

    border-style:solid;
    padding:5px;
    border-color: crimson;
    margin-bottom: 10px;
    margin-top: 0px
}
#sec{
    padding-top: -700px;
    background-color: cornsilk;
    margin-top: -790px;
}
#picture{
    transition: transform .2s;
    border:10px solid #AAAAAA;
    width: 300px;
    height:300px;
}
#inspiration{
    margin-top:20px;
    padding: 0px;
    background: linear-gradient( #71a8cc 0%, #e386be 100%);  
    z-index: 10;
    color: #97e47f;
    }
    #picture:hover{
        transform:scale(0.9);
    }